@font-face {
    font-family: 'squada_oneregular';
    src: url('../fonts/squadaone-regular-webfont.woff2') format('woff2'),
    url('../fonts/squadaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold_gdi.eot');
    src: url('../fonts/OpenSans-Bold_gdid41d.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold_gdi.woff') format('woff'), url('../fonts/OpenSans-Bold_gdi.ttf') format('truetype'), url('../fonts/OpenSans-Bold_gdi.svg#OpenSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
@font-face {
    font-family:'OpenSans-Regular';
    src: url('../fonts/OpenSans_gdi.eot');
    src: url('../fonts/OpenSans_gdid41d.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans_gdi.woff') format('woff'), url('../fonts/OpenSans_gdi.ttf') format('truetype'), url('../fonts/OpenSans_gdi.svg#OpenSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
@font-face {
    font-family:'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold_gdi.eot');
    src: url('../fonts/OpenSans-Semibold_gdid41d.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold_gdi.woff') format('woff'), url('../fonts/OpenSans-Semibold_gdi.ttf') format('truetype'), url('../fonts/OpenSans-Semibold_gdi.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
body {
    padding:0;
    margin:0;
    background:#ffffff;
    overflow-x:hidden;
    font-family:Arial, Helvetica, sans-serif;
}
* {
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
    outline:none;
}
a:visit {
    text-decoration:none;
    outline:none;
}
a:focus {
    text-decoration:none;
    outline:none;
}
.clear {
    clear:both;
    height:0px;
}
p{ margin:0; padding:0;}

.container-fluid{ margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;  }

.container{padding-left:0px; padding-right:0px;}

.row{ margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;}

.partnerswrapper{ background:#00a9e7; padding:40px 0px; text-align: center;}

.partnerswrapper h2{  font-family:'OpenSans-Bold'; font-size:60px; color:#fff; text-transform:uppercase; text-shadow:0 0 5px #888; margin:0; padding:0 0 20px 0; text-align:center; background:url(../../assets/images/devider1.jpg) no-repeat center bottom;}

.partnerswrapper .car_logo_block{ text-align:center; width:1650px; margin:40px auto;}

.partnerswrapper .car_logo_block img{ padding:0; margin:6px 4px; box-shadow:0 0 8px #888;}

/* .partnerswrapper .fillformdiv{ width:1080px; margin:0 auto; background:#eaff00 url(../../assets/images/arrow1.png) no-repeat 1010px center; text-align: center; font-size:34px; color:#002a45; cursor: pointer; font-family:'OpenSans-Bold'; text-transform:uppercase; padding:16px 0;}*/


.partnerswrapper .fillformdiv{ width: auto;
    margin: 0;
    background: #eaff00 url(../../assets/images/arrow1.png) no-repeat right 14px center;
    text-align: center;
    font-size: 34px;
    color: #002a45;
    cursor: pointer;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    padding: 16px 36px;
    display: inline-block;}

.footerwrapper{ padding:30px 0; background:#fff;}

.foooter_socialblock{ width:100%; text-align:center;}

.foooter_socialblock img{ margin:1px;}


.footerwrapper .container{ margin:40px  auto; text-align:center;}

.footerwrapper .container span{ width:100%; text-align:center; display:block; height:54px;}

.footerwrapper .container h4{  font-family:'OpenSans-Semibold'; font-size:18px; color:#1b1b1b; border-bottom:solid 2px #ff0084; padding-bottom:15px; margin-bottom:15px; }

.footerwrapper .container p{  font-family:'OpenSans-Regular'; font-size:14px; color:#363535; line-height:24px;}

.footerwrapper h2{ margin:0; padding:0; text-align:center; font-size:14px; color:#535151;  font-family:'OpenSans-Regular';}


.services_wrapper{ background:#025f9a; padding:40px 100px;}

.services_wrapper .col-md-12{ background:#eaff00; border-radius:4px; width:32.5%; margin:0 0.3%; padding:0px; box-shadow:0 0 5px #084064;}

.services_wrapper .serimgdiv{ padding:5px; padding-bottom: 0px;background: #128fb3;}
.services_wrapper .serimgdiv img{ width:100%; border: solid 1px #06759d; }

.services_wrapper h2{ font-family:'OpenSans-Semibold'; font-size:26px; color:#fff; text-transform:uppercase; text-shadow:0 0 9px #333; text-align:center; margin:0; padding:15px 4px;}

.services_wrapper .row {
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
}

.services_wrapper .sertextdiv{
    width: 100%;
    padding: 20px;
    margin-bottom: 0;
    background: #eaff00;
    min-height: 175px;
    display: flex;
    align-items: stretch;
}

.services_wrapper .sertextdiv h4{ border-left:solid 2px #ff006c; width:100%; margin:0; padding:0 5px; padding-left: 15px; display:table-cell; vertical-align:middle; font-size:20px; line-height: 26px; color:#002a45; font-family:'OpenSans-Bold';}


.middleblock_wrapper{ background: #fff url(../../assets/images/bgimg1.jpg) no-repeat right center; height:475px; padding-right:600px !important; position: relative; }

.middleblock_text{ padding:40px 0 0 100px; }

.middleblock_text h2{ background:url(../../assets/images/devider2.jpg) no-repeat center bottom; margin:0; padding:0 0 20px 0; text-align:center;  text-shadow:0 0 2px #888; font-size:48px; color:#f30050; text-transform:uppercase;  font-family:'OpenSans-Bold';}

.middleblock_text h3{ background: #eaff00; padding: 20px; position: absolute; bottom: 50px; display: block; width: 900px; -webkit-box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.75); border: solid 1px #ccc; font-size: 22px; color: #16191b; line-height: 30px; font-family:'OpenSans-Bold';}

.middleblock_text h3 span{ font-size: 30px; color: #f30050;}

.top_bannerblock{
    width: 100%;
    position: relative;
    background: url(../../assets/images/bannerimg.jpg) no-repeat left top;
    background-size: cover;
    height: 575px;
    overflow: hidden;
}

.top_bannerblock .logo{ width: 407px; margin: 16px;}

.top_bannerblock .logo img{ width: 100%;}

.bannertoptextcon{ position: absolute; bottom: -10px; width: 100%;}
.bannertoptextcon h1{ -webkit-box-shadow: 0px 14px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 20px -6px rgba(0,0,0,0.75); background: #ffd200; width: 610px; margin-left: 106px; text-align: center; padding: 8px; font-size: 36px; color: #013a55; text-transform: uppercase;  font-family:'OpenSans-Bold'; position: relative; z-index: 9;}




.top_bannertext1{ background: #0273a8;}

.top_bannertext1 h2{ width: 880px; text-align: center; margin: 0; padding: 23px 0; margin-left: -36px; font-size: 38px; color: #ffffff; font-family:'OpenSans-Bold'; text-transform: uppercase;  text-shadow: 0 0 6px #282828;  position: relative; z-index: 9;}


.top_bannertext2{ background:url("../../assets/images/textbg2.jpg") left top;}


.top_bannertext2 h2{ width: 810px; text-align: center; margin: 0; padding: 23px 0;  font-size: 30px; color: #012b2e; font-family:'OpenSans-Bold';  text-shadow: 0 0 6px #04b5c0;  position: relative; z-index: 9;}


.topform_wrapper{ position: absolute; top: 227px; width: 100%; z-index: 99;}

.topform_wrapper .form_mainbox{ background: #fff; width: 390px; float: right; margin-right: -90px; -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75); padding: 10px;}


.topform_wrapper .form_mainbox h1{ padding: 14px 2px; text-align: center;  font-family: 'squada_oneregular'; font-size: 40px; color: #fff; text-transform: uppercase; text-shadow: 0 0 6px #000;
    background: rgba(4,134,226,1);
    background: -moz-linear-gradient(top, rgba(4,134,226,1) 0%, rgba(1,61,89,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4,134,226,1)), color-stop(100%, rgba(1,61,89,1)));
    background: -webkit-linear-gradient(top, rgba(4,134,226,1) 0%, rgba(1,61,89,1) 100%);
    background: -o-linear-gradient(top, rgba(4,134,226,1) 0%, rgba(1,61,89,1) 100%);
    background: -ms-linear-gradient(top, rgba(4,134,226,1) 0%, rgba(1,61,89,1) 100%);
    background: linear-gradient(to bottom, rgba(4,134,226,1) 0%, rgba(1,61,89,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0486e2', endColorstr='#013d59', GradientType=0 ); margin: 0;
}


.topform_wrapper .form_mainbox h2{ background: #28940a; font-size: 14px; line-height: 20px; color: #ffffff; font-family:'OpenSans-Semibold'; margin: 0; text-align: center; padding: 6px 15px;}


.form_maindiv{ width: 282px; margin: 14px auto;}

.form_maindiv .form-group{ width: 100%; margin:0 0 4px 0;}

.form_maindiv .form-group .form-control{ width: 100%; height: 36px; background: #e7e3e3; border: solid 1px #817f7e; border-radius: 0px; font-size: 16px; color: #000; padding: 0 10px;  font-family:'OpenSans-Regular'; box-shadow: none;}




.form_maindiv ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000; opacity: 1;
}
.form_maindiv ::-moz-placeholder { /* Firefox 19+ */
    color: #000; opacity: 1;
}
.form_maindiv :-ms-input-placeholder { /* IE 10+ */
    color: #000; opacity: 1;
}
.form_maindiv :-moz-placeholder { /* Firefox 18- */
    color: #000; opacity: 1;
}


.form_mainbox .subbtn{ width: 100%; margin: 20px auto 0px; height: 70px; display:block; font-size:36px; font-family: 'squada_oneregular';  color: #fff; text-transform: uppercase; text-shadow: 0 0 6px #000; cursor: pointer; border: solid 6px #c0c4c9;


    -webkit-box-shadow: inset 1px 1px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px 1px 20px -3px rgba(0,0,0,0.75);
    box-shadow: inset 1px 1px 20px -3px rgba(0,0,0,0.75);



    background: rgba(223,0,74,1);
    background: -moz-linear-gradient(top, rgba(223,0,74,1) 0%, rgba(105,3,32,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,0,74,1)), color-stop(100%, rgba(105,3,32,1)));
    background: -webkit-linear-gradient(top, rgba(223,0,74,1) 0%, rgba(105,3,32,1) 100%);
    background: -o-linear-gradient(top, rgba(223,0,74,1) 0%, rgba(105,3,32,1) 100%);
    background: -ms-linear-gradient(top, rgba(223,0,74,1) 0%, rgba(105,3,32,1) 100%);
    background: linear-gradient(to bottom, rgba(223,0,74,1) 0%, rgba(105,3,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df004a', endColorstr='#690320', GradientType=0 );

}


.form_mainbox .errortext{ font-size: 12px; color: #ff0000 !important;}

.cartext_wrapper{ background: url("../../assets/images/text_middle_conbg.jpg") no-repeat top; background-size:cover;  min-height: 1191px;
    position: relative;
    overflow: hidden;
    padding-top: 40px;}


.local_carlogo{ display: block; width: 100%; position: absolute; top:380px; left: 520px; }

.local_carlogo img{  position: relative; z-index: 99;}

.localcar_roundwrapper{ background: url("../../assets/images/text_ring_bg.png") no-repeat; width: 1469px; height: 1011px; display: block; margin: 90px auto; position: relative;}


.localcar_roundwrapper h2{ margin: 0px; padding: 0px; font-size: 36px; text-transform: uppercase; text-align: center; font-family:'OpenSans-Semibold'; padding-bottom: 12px; }
.localcar_roundwrapper h3{ margin: 0px; padding: 0px; font-size: 16px;  color: #fff; text-align: center;  font-family:'OpenSans-Regular'; line-height: 22px; padding-bottom: 60px;}


.cartext_wrapper h1{  font-family:'OpenSans-Bold'; font-size:60px; color:#fff; text-transform:uppercase; text-shadow:0 0 5px #888; margin:0; padding:0 0 20px 0; text-align:center; background:url(../../assets/images/devider1.jpg) no-repeat center bottom;}

.car_text1{ width: 315px; background: url("../../assets/images/con_1img.png") no-repeat center top; padding-top: 175px; top: -22px; left:570px; position: absolute; }

.car_text1 h2{ color: #fd83b3;}

.car_text1 h3{  background: url("../../assets/images/text_conbg1.png") no-repeat center bottom;}



.car_text2{ width: 286px; background: url("../../assets/images/con_2img.png") no-repeat center top; padding-top: 175px; top: 42px; left:900px; position: absolute; }

.car_text2 h2{ color: #21befe;}

.car_text2 h3{  background: url("../../assets/images/text_conbg2.png") no-repeat center bottom;}



.car_text3{ width: 370px; background: url("../../assets/images/con_3img.png") no-repeat center top; padding-top: 175px; top: 213px; right:-35px; position: absolute; }

.car_text3 h2{ color: #bed607;}

.car_text3 h3{  background: url("../../assets/images/text_conbg3.png") no-repeat center bottom;}



.car_text4{ width: 360px; background: url("../../assets/images/con_4img.png") no-repeat 160px top; padding-top: 165px; top: 590px; right:40px; position: absolute; }

.car_text4 h2{ color: #fac42b;}

.car_text4 h3{  background: url("../../assets/images/text_conbg4.png") no-repeat center bottom;}


.car_text5{ width: 300px; background: url("../../assets/images/con_5img.png") no-repeat center bottom; padding-bottom: 130px; bottom: 14px; right:420px; position: absolute; }

.car_text5 h2{ color: #fc9152;}

.car_text5 h3{  background: url("../../assets/images/text_conbg5.png") no-repeat center bottom;}


.car_text6{ width: 338px; background: url("../../assets/images/con_6img.png") no-repeat 100px bottom; padding-bottom: 130px; bottom: 16px; right:750px; position: absolute; }

.car_text6 h2{ color: #ff6868;}

.car_text6 h3{  background: url("../../assets/images/text_conbg6.png") no-repeat center bottom;}



.car_text7{ width: 360px; background: url("../../assets/images/con_7img.png") no-repeat left top; padding-top: 170px; top: 610px; left:40px; position: absolute; }

.car_text7 h2{ color: #50fff4;}

.car_text7 h3{  background: url("../../assets/images/text_conbg7.png") no-repeat center bottom;}


.car_text8{ width: 425px; background: url("../../assets/images/con_8img.png") no-repeat center top; padding-top: 175px; top: 200px; left:-115px; position: absolute; }

.car_text8 h2{ color: #c280fe;}

.car_text8 h3{  background: url("../../assets/images/text_conbg8.png") no-repeat center bottom;}



.car_text9{ width: 405px; background: url("../../assets/images/con_9img.png") no-repeat center top; padding-top: 175px; top: 42px; left:180px; position: absolute; }

.car_text9 h2{ color: #a2e05f;}

.car_text9 h3{  background: url("../../assets/images/text_conbg9.png") no-repeat center bottom;}



.localcarpopup .modal-content{ border: solid 10px #00a9e7; background: #fff; -webkit-box-shadow: inset 1px 1px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px 1px 20px -3px rgba(0,0,0,0.75);
    box-shadow: inset 1px 1px 20px -3px rgba(0,0,0,0.75);


}


.localcarpopup .modal-header, .modal-footer{ border: none;}

.localcarpopup .modal-header{ position: relative;}

.localcarpopup .close{    color: #00a9e7;
    opacity: 1;
    display: block;
    border: solid 2px #00a9e7;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    line-height: 26px;
    background: #fff;
    position: absolute;
    right: -20px;
    top: -20px;}


.localcarpopup  .modal-body{ padding: 20px 5px;   font-family:'OpenSans-Semibold'; font-size: 20px; line-height: 28px; color: #00a9e7; text-transform: uppercase; text-align: center;}


.modallogo{ display: block; margin: 0 auto; margin-bottom: 30px; max-width: 100%;}



.loading_wrapper{ width: 100%; padding: 200px 0 0 0;}

.loading_wrapper .loading_img{ display: block; text-align: center;  width: 100%; }


.logomobile{ display: none;}


.footer_newblock_wrapper{background: url("../../assets/images/newgetstarted_bg.png") no-repeat center top;  overflow: hidden; width: 1081px; height: 209px; margin: 0 auto; margin-top: 30px;}

.footer_newblock_wrapper .footer_newblocklink{ width: 661px; height: 112px; margin: 0 auto; margin-top: 48px; background: url("../../assets/images/newgetstartedimg.png") no-repeat center top; }

.footer_newblock_wrapper .footer_newblocklink a{ display: block; text-align: center; width: 100%;
    height:100%;
    overflow: hidden;}

.footer_newblock_wrapper .footer_newblocklink a h2{ display: none;}

.footer_newblock_wrapper .footer_newblocklink a span{ display: block; margin-top: 81px;  font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#4c3107;     text-shadow: 0 2px 8px #888;}


.internalmarketing{background: url(../../assets/images/residemtialgeobg.jpg) left top; padding:40px 0px; position: relative; overflow: hidden; background-size: cover;}
.internalmarketingbgcolor{position: absolute; top:0; left: 0; width: 100%; height: 100%; background-color: rgba(11, 47, 69, 0.9);}
.internalmarketingcontent{position:relative; z-index:99;  text-align: center;}
.internalmarketing h2{  font-family:'OpenSans-Bold'; font-size:60px; color:#fff; text-transform:uppercase; text-shadow:0 0 5px #888; margin:0; padding:0 0 20px 0; text-align:center; background:url(../../assets/images/devider1.jpg) no-repeat center bottom;}
.internalmarketing .car_logo_block p{  font-family:'OpenSans-Regular'; font-size:22px; color:#fff; margin:0; padding:0; text-align:center;}
.internalmarketing .car_logo_block p span{margin-top:20px; display: inline-block; width: 100%;}
.internalmarketing .car_logo_block{ text-align:center; width:1650px; margin:40px auto;}
.internalmarketing .car_logo_block img{ padding:0; margin:6px 4px; box-shadow:0 0 8px #888;}
.internalmarketing .fillformdiv{    
    width: auto;
    margin: 0;
    background: #eaff00 url(../../assets/images/arrow1.png) no-repeat right 14px center;
    text-align: center;
    font-size: 34px;
    color: #002a45;
    cursor: pointer;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    padding: 16px 36px;
    display: inline-block;
}
a.fillformdiv{text-decoration: none;}
a.fillformdiv:hover{text-decoration: none;}

.combinemobilemarketing{background: #025f9a url(../../assets/images/combinemobilebg.png) no-repeat left bottom; padding:40px 0px; position: relative; overflow: hidden;}
.combinemobilemarketingcontent{position:relative; z-index:99; padding-left:38%;}
.combinemobilemarketing h2{  font-family:'OpenSans-Bold'; font-size:60px; color:#fff; text-transform:uppercase; text-shadow:0 0 5px #888; margin:0; padding:0 0 20px 0; text-align:left; background:url(../../assets/images/devider1.jpg) no-repeat left bottom;}
.combinemobilemarketing .car_logo_block p{  font-family:'OpenSans-Regular'; font-size:22px; color:#fff; margin:0; padding:0; text-align:left;}
.combinemobilemarketing .car_logo_block p span{margin-top:20px; display: inline-block; width: 100%;}
.combinemobilemarketing .car_logo_block{ text-align:left; width:100%; margin:40px auto;}
.combinemobilemarketing .car_logo_block img{ padding:0; margin:6px 4px; box-shadow:0 0 8px #888;}
.combinemobilemarketing .fillformdiv{
    width: auto;
    margin: 0;
    background: #eaff00 url(../../assets/images/arrow1.png) no-repeat right 14px center;
    text-align: center;
    font-size: 34px;
    color: #002a45;
    cursor: pointer;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    padding: 16px 36px;
    display: inline-block;
}




.lookingmoredata{background: url(../../assets/images/lookingmoredatabg.jpg) left top; padding:40px 0px; position: relative; overflow: hidden;background-size: cover;}
.lookingmoredatabgcolor{position: absolute; top:0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 31, 42, 0.9);}
.lookingmoredatacontent{position:relative; z-index:99;}
.lookingmoredata h2{  font-family:'OpenSans-Bold'; font-size:60px; color:#fff; text-transform:uppercase; text-shadow:0 0 5px #888; margin:0; padding:0 0 20px 0; text-align:center; background:url(../../assets/images/devider1.jpg) no-repeat center bottom;}
.lookingmoredata .car_logo_block p{  font-family:'OpenSans-Regular'; font-size:22px; color:#fff; margin:0; padding:0; text-align:center;}
.lookingmoredata .car_logo_block p span{margin-top:20px; display: inline-block; width: 100%;}
.lookingmoredata .car_logo_block{ text-align:center; width: 100%; margin:40px auto;}
.lookingmoredata .car_logo_block img{ padding:0; margin:6px 4px; box-shadow:0 0 8px #888;}
.lookingmoredata .fillformdiv{ 
    width: auto;
    margin: 0;
    background: #eaff00 url(../../assets/images/arrow1.png) no-repeat right 14px center;
    text-align: center;
    font-size: 34px;
    color: #002a45;
    cursor: pointer;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    padding: 16px 36px;
    display: inline-block;
}

.lookingmoredatadiv{display:inline-flex; justify-content:space-between; align-item:stretch;}
.lookingmoredatasingle{width:48%; margin:.5% 1%; background-color: #fff; padding: 0;}
.lookingmoredata .car_logo_block p{  font-family:'OpenSans-Bold'; font-size:24px; color:#000000; margin:0; padding:20px; text-align:center;line-height: 30px;}


.lookingmoredatadivheader{display:inline-flex; justify-content:space-between; align-item:center; width: 100%;}
.lookingmoredatatitle{width:100%; margin: 0; background-color: #00a9e7;padding: 14px; min-height: 122px; display: flex; align-items: center; border-bottom: 4px solid #333;}
.lookingmoredatatitle h3{font-family:'OpenSans-Bold'; font-size:28px; color:#ffffff; text-transform:uppercase; margin:0; padding:0; text-align:center; height: 100%;}


